@import "./Base/normalize";
@import "./Utils/mixins";
@import "./Utils/variable";
@import "./Base/base";
@import "./Base/typography";
@import "./Layouts/header";
@import "./Layouts/location";
@import "./Layouts/description";
@import "./Layouts/fonctionnement";
@import "./Layouts/restaurants";
@import "./Layouts/footer";
@import "./Layouts/menu";
@import "./Components/card";
@import "./Components/bouton";