.description {
    text-align: center;
    background-color: $cd-background;
    padding: 1.5rem 1rem 3rem 1rem;
    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        margin: 1rem 2rem;
    }
    &__text {
        font-weight: 300;
        font-size: 1.1rem;
    }
    &__bouton {
        background: linear-gradient(170deg,#ff79da 0%, #9356dc 80%);
        border: none;
        padding: 1rem;
        border-radius: 2rem;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
        &-text {
            color: white;
        }
    }
}