.fonctionnement {
    padding: 2rem 0 3rem;
    @include tablet {
        text-align: center;
    }
    @include desktop {
        text-align: center;
    }
    &__title {
        padding: 0rem 1.5rem 0rem 1.5rem;
        font-size: 1.5rem;
    }
    &__org-list {
        counter-reset: step;
        @include desktop {
            display: flex;
            justify-content: space-evenly;
        }
    }
    &__list {
        list-style-type: none;
        counter-increment: step;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background-color: $cd-background;
        max-width: 20rem;
        border-radius: 1.5rem;
        display: flex;
        position: relative;
        box-shadow: 0px 3px 7px 2px rgba(0,0,0,0.20);
        transition: all 0.5s;
        @include mobile-small {
            max-width: 17rem;
        }
        @include tablet {
            margin-left: auto;
            margin-right: auto;
            max-width: 30rem;
        }
        &-logo {
            color: $cd-logo;
            padding-left: 1rem;
            font-size: 1.2rem;
            transition: color 0.5s;
            @include desktop {
                padding-right: 1rem;
            }
        }
        &-text {
            margin: 0rem auto;
            font-weight: 700;
            color: #1F1F1F;
            justify-content: center;
        }
        &:hover {
            background-color: lighten($color: $cd-primary, $amount: 35%);
            cursor: pointer;
        }
        &:hover &-logo {
            color: lighten($color: $cd-primary, $amount: 0%);
        }
        &:before {
            content: counter(step);
            background-color: $cd-primary;
            color: $cd-background;
            padding: 0.5rem;
            border-radius: 50%;
            width: .5rem;
            height: .5rem;
            display: flex;
            align-items: center;
            position: absolute;
            left: -10px;
            top: 20px;
        }
    }
}