.footer {
    background-color: $cd-background-dark;
    color: white;
    padding: 0.5rem 1.5rem;
    @include tablet {
        text-align: center;
    }
    @include desktop {
        text-align: center;
    }
    &__logo {
        font-family: Shrikhand, sans-serif;
        font-size: 1rem;
    }
    &__list {
        list-style: none;
        padding: 0.3rem;
        margin-left: -3rem;
        &-logo {
            scale: 0.9;
            height: 1.25rem;
            width: 1.25rem;
            padding-right: 1.5rem;
        }
    }
}