.footer {
    background-color: $cd-background-dark;
    color: white;
    padding: 0.5rem 1.5rem;
    &__logo {
        font-family: Shrikhand, sans-serif;
        font-size: 1rem;
    }
    &__list {
        list-style: none;
        padding: 0.5rem;
        margin-left: -3rem;
    }
}