.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    &__logo {
        max-width: 10.5rem;
    }
    &__return {
        scale: 1.5;
        color: $cd-background-dark;
        margin-left: -5rem;
        @include mobile-small {
            margin-left: -3rem;
        }
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }
}

