.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
    position: relative;
    &__logo {
        max-width: 10.5rem;
    }
    &__return {
        scale: 1.5;
        position: absolute;
        left: 2rem;
        top: 2rem;
        color: $cd-background-dark;
    }
}

