.location-form {
    background-color: $cd-location;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20) inset;
        &__icon {
        margin-left: 4rem;
    }
        &__input {
            background-color: $cd-location;
            border: none;
            font-weight: 700;
            padding-left: 1rem;
            &:focus {
                outline: none;
        }
    }
}