.illustration {
    max-width: 100%;
    max-height: 30rem;
    object-fit: cover;
    width: 100%;
}

.menu {
    background-color: $cd-background;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    margin-top: -3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include tablet {
            justify-content: space-evenly;
        }
        @include desktop {
            justify-content: space-evenly;
        }
        &--typo {
            font-family: Shrikhand, sans-serif;
            font-size: 1.8rem;
        }
        &-fav {
            font-size: 1.5rem;
            margin-right: 1rem;
            &--blank {
                transition: visibility 0s, opacity 0.3s linear;
                position: absolute;
            }
            &--color {
                background: linear-gradient(170deg,#ff79da 0%, #9356dc 90%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.3s linear;
            }
            &:hover &--color {
                visibility: visible;
                opacity: 1;
            }
            &:hover &--blank {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
    &__div {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &__section {
        &-title {
            border-bottom: 3px solid $cd-tertiary;
            width: 2.5rem;
            padding-bottom: 0.3rem;
            &--typo {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 1rem;
            }
        }
        &-bouton {
            background-color: white;
            border-radius: 1rem;
            box-shadow: 0px 3px 7px rgba(0,0,0,0.10);
            margin: 1rem 0;
            padding: 1rem;
            max-height: 4rem;
            max-width: 22rem;
            display: flex;
            cursor: pointer;
            overflow: hidden;
            animation: menuDisplay 1s both;
            @for $i from 0 to 10 {
                &--delay-#{$i} {
                    animation-delay: #{$i/10}s;
                }
            }
            @include desktop {
                min-width: 25rem;
            }
            &--text {
                flex: 1 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                align-self: center;
                h3 {
                    font-weight: 700;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p {
                    font-weight: 300;
                    font-size: 0.9rem;
                    margin-top: 0rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &--price {
                font-weight: 700;
                padding-left: 1.3rem;
            }
            &-confirmation {
                background-color: $cd-tertiary;
                width: 4rem;
                margin: -1rem -5rem -1rem 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s;
                &--check {
                    color: $cd-tertiary;
                    background-color: white;
                    border-radius: 50%;
                    padding: .3rem;
                    rotate: -270deg;
                    transition: all 0.5s;
                }
            }
            &:hover &-confirmation {
                    margin: -1rem -1rem -1rem 1rem;
                    &--check {
                        rotate: 0deg;
                    }
            }
        }
    }
    &__bouton {
        margin: 2rem 2rem 4rem 2rem;
        width: 12rem;
        align-self: center;
    }
}


