.illustration {
    max-height: 15rem;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.menu {
    background-color: $cd-background;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    margin-top: -3rem;
    padding: 1rem;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--typo {
            font-family: Shrikhand, sans-serif;
            font-size: 1.8rem;
        }
        &-fav {
            scale: 1.5;
            margin-right: 1rem;
        }
    }
    &__section {
        &-title {
            border-bottom: 3px solid $cd-tertiary;
            width: 2.5rem;
            padding-bottom: 0.3rem;
            &--typo {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 1rem;
            }
        }
        &-bouton {
            background-color: white;
            border-radius: 2rem;
            display: flex;
            box-shadow: 0px 3px 7px 2px rgba(0,0,0,0.20);
            margin: 1rem 0;
        }
    }
}
