.card {
    background-color: white;
    border-radius: 1.2rem;
    margin: 1rem 1.2rem;
    max-width: 21rem;
    min-width: 21rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.10);
    position: relative;
    @include mobile-small {
        min-width: 18rem;
    }
    @include desktop {
        min-width: 28rem;
        margin-bottom: 3rem;
    }
    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $cd-tertiary;
        color: darken($color: $cd-tertiary, $amount: 36%);
        font-weight: 700;
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
        border-radius: 0.2rem;
    }
    &__picture {
        border-radius: 1rem 1rem 0 0;
        max-height: 11rem;
        object-fit: cover;
        object-position: center;
    }
    &__figcaption {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__description {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        &-title {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0rem;
        }
        &-adress {
            font-size: 1rem;
            font-weight: 300;
            margin-top: 0rem;
        }
        &-fav-logo {
                margin-right: 1.5rem;
                font-size: 1.5rem;
                &--blank {
                    transition: visibility 0s, opacity 0.3s linear;
                    position: absolute;
                }
                &--color {
                    background: linear-gradient(170deg,#ff79da 0%, #9356dc 90%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.3s linear;
                }
                &:hover &--color {
                    visibility: visible;
                    opacity: 1;
                }
                &:hover &--blank {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }