.card {
    background-color: white;
    border-radius: 1.2rem;
    margin: 1rem 1.2rem;
    max-width: 21rem;
    min-width: 21rem;
    max-height: 15.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.20);
    position: relative;
    &__new {
        position: absolute;
        background-color: green;
        top: 10px;
        right: 10px;
    }
    &__picture {
        border-radius: 1rem 1rem 0 0;
        max-height: 11rem;
        object-fit: cover;
        object-position: center;
    }
    &__figcaption {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__description {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        &-title {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0rem;
        }
        &-adress {
            font-size: 1rem;
            font-weight: 300;
            margin-top: 0rem;
        }
        &-fav {
            &-logo {
                scale: 1.5;
                margin-right: 1.5rem;
            }
        }
    }
}