@mixin mobile-small {
    @media screen and (max-width:374px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width:426px) and (max-width:1000px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:1001px) {
        @content;
    }
}