$cd-primary: #9356DC;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;
$cd-location: #EAEAEA;
$cd-background: #F6F6F6;

@mixin gradient-bouton {
    background:linear-gradient(170deg,#ff79da 0%, #9356dc 80%);
}